<!doctype html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Czech republic weather</title>
    <meta name="description" content="A web-page to show the latest weather data for cities in Czech Republic.">
    <meta name="Mariia Kotliarevskaia">
    <script src="https://cdn.tailwindcss.com"></script>
    <body>
        {% if env == 'staging' %}
        <h1 class="text-3xl text-center text-clifford p-2 bg-gradient-to-r from-blue-800 via-white">Czech Republic weather (staging)</h1>
        {% else %}
        <h1 class="text-3xl text-center text-clifford p-2 bg-gradient-to-r from-blue-800 via-white to-red-600">Czech Republic weather</h1>
        {% endif %}
        <div class="p-2">
          <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                  <table class="min-w-full text-center text-sm font-light table-auto">
                    <thead class="border-b font-medium dark:border-neutral-500">
                      <tr>
                        <th scope="col" class="text-left px-6 py-4">City</th>
                        <th scope="col" class="px-6 py-4">Latitude</th>
                        <th scope="col" class="px-6 py-4">Longitude</th>
                        <th scope="col" class="px-6 py-4">Temperature</th>
                        <th scope="col" class="px-6 py-4">Weather Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for city, data in weather_data.items() %}
                      <tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-300">
                        <td class="text-left whitespace-nowrap px-6 py-4 font-medium">{{ city }}</td>
                        <td class="whitespace-nowrap px-6 py-4">{{ data.lat }}</td>
                        <td class="whitespace-nowrap px-6 py-4">{{ data.lon }}</td>
                        <td class="whitespace-nowrap px-6 py-4">{{ data.temp }}</td>
                        <td class="whitespace-nowrap px-6 py-4">{{ data.desc }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <p class="text-sm italic font-semibold">Last updated at: {{ updated_at }}</p>
        </div>
    </body>
</html>
